:root {
  --style-block: block;
  --style-none: none;
}
body {
  background: #243441;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}
h1 {
  font-family: "Helvetica", sans-serif;
  color: white;
  width: 300px;
}
h2 {
  color: white;
  font-family: "Helvetica", sans-serif;
  font: 15;
  flex: flex;
}
h3 {
  color: white;
  width: auto;
  text-align: center;
}
.left-column {
  grid-column: 1;
  grid-row: 1;
  /*border: 1px solid;
	border-color: #707070;*/
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
}
.logo {
  grid-column: 1;
  width: 60%;
}
.status {
  align-items: center;
}
.right-column {
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}
.light {
  grid-column: 2;
  grid-row: 1;
}
.fan {
  grid-column: 3;
  grid-row: 1;
}
.aircon {
  grid-column: 4;
  grid-row: 1;
}
.button {
  text-decoration: none;
}
.onoff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  outline-style: solid;
  outline-width: 0.5;
  outline-color: #5c5c5c;
  padding: 10px;
  margin: 20px;
  box-shadow: 4px -4px 10px 5px rgba(0, 0, 0, 0.5);
}

.utility {
  width: 50%;
}

#room1_light_on_button_on {
  color: #0affef;
}
#room1_light_on_button_off {
  color: #8a959d;
}
#room1_light_off_button_on {
  color: #e32626;
}
#room1_light_off_button_off {
  color: #8a959d;
}
#room1_fan_on_button_on {
  color: #0affef;
}
#room1_fan_on_button_off {
  color: #8a959d;
}
#room1_fan_off_button_on {
  color: #e32626;
}
#room1_fan_off_button_off {
  color: #8a959d;
}
#room1_aircon_on_button_on {
  color: #0affef;
}
#room1_aircon_on_button_off {
  color: #8a959d;
}
#room1_aircon_off_button_on {
  color: #e32626;
}
#room1_aircon_off_button_off {
  color: #8a959d;
}

#room2_light_on_button_on {
  color: #0affef;
}
#room2_light_on_button_off {
  color: #8a959d;
}
#room2_light_off_button_on {
  color: #e32626;
}
#room2_light_off_button_off {
  color: #8a959d;
}
#room2_fan_on_button_on {
  color: #0affef;
}
#room2_fan_on_button_off {
  color: #8a959d;
}
#room2_fan_off_button_on {
  color: #e32626;
}
#room2_fan_off_button_off {
  color: #8a959d;
}
#room2_aircon_on_button_on {
  color: #0affef;
}
#room2_aircon_on_button_off {
  color: #8a959d;
}
#room2_aircon_off_button_on {
  color: #e32626;
}
#room2_aircon_off_button_off {
  color: #8a959d;
}

#room3_light_on_button_on {
  color: #0affef;
}
#room3_light_on_button_off {
  color: #8a959d;
}
#room3_light_off_button_on {
  color: #e32626;
}
#room3_light_off_button_off {
  color: #8a959d;
}
#room3_fan_on_button_on {
  color: #0affef;
}
#room3_fan_on_button_off {
  color: #8a959d;
}
#room3_fan_off_button_on {
  color: #e32626;
}
#room3_fan_off_button_off {
  color: #8a959d;
}
#room3_aircon_on_button_on {
  color: #0affef;
}
#room3_aircon_on_button_off {
  color: #8a959d;
}
#room3_aircon_off_button_on {
  color: #e32626;
}
#room3_aircon_off_button_off {
  color: #8a959d;
}

.room {
  align-items: center;
}
.utilityroomsensor {
  width: 25%;
}
.roomtitle {
  color: #8a959d;
}
.roomsensor {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
}
.room {
  outline-style: solid;
  outline-width: 0.5;
  outline-color: #5c5c5c;
  padding: 7px;
  margin: 20px;
  box-shadow: 4px -4px 10px 5px rgba(0, 0, 0, 0.2);
  background: #243441;
  cursor: pointer;
}
.room1 {
  display: block;
}
.room2 {
  display: none;
}
.room3 {
  display: none;
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.roomnumber {
  box-shadow: 2px -2px 20px 2px rgba(0, 0, 0, 0.3);
  color: #8a959d;
  padding: 25px;
  margin: 40px;
  margin-top: 100px;
}
